@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

body {
  margin: 0;
  font-family: Kanit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar */
  nav {
    display: flex;
    padding: 0;
    background: purple;
  }

  nav section {
    width: 100%;
  }

  nav section h1,
  nav section {
    color: white;
  }

  nav a,
  nav a:active {
    font-weight: 700;
    padding: 0.25rem 1.5rem;
    border-radius: 4px;
    color: white !important;
    background: #481499;
  }

  nav a:first-of-type {
    margin-left: -1.5rem;
  }

  nav a:hover {
    color: white;
    background: #926bcf;
  }

  .navContent {
    display: flex;
    justify-content: space-between;
  }

  .navLinks {
    display: flex;
  }

  .navLinks a {
    margin-left: 5px;
  }

  .navLinks a .badge {
    margin-left: 5px;
    position: relative;
    top: -3px;
  }

  .badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    color: #212529;
    background-color: #f8f9fa;
  }

  .navLinks :first-child {
    margin-left: 0;
  }
/* Navbar */

/* grid */

/* original grid contianer */
/* .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-auto-rows: minmax(300px, auto);
  grid-gap: 1rem;
  background-color: #2196F3;
  padding: 1rem;
} */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  grid-gap: 2rem;
  /* background-color: #2196F3; */
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* .grid-container > div {
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: .5rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
} */

/* grid */




/* user card */
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .card {
    width: 450px;
    height: 250px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    /* margin: 1.5rem; */
  }

  .card h1 {
    text-align: center;
  }

  .card .additional {
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient(#dE685E, #EE786E);
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
  }

  .card:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
  }

  .card .additional .user-card {
    width: 150px;
    height: 100%;
    position: relative;
    float: left;
  }

  .card .additional .user-card::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0,0,0,0.025);
  }

  .card .additional .user-card .level,
  .card .additional .user-card .points {
    top: 15%;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    background: rgba(0,0,0,0.15);
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    white-space: nowrap;
  }

  .card .additional .user-card .points {
    top: 85%;
  }

    /* .card .additional .user-card svg {
      top: 50%;
    } */

    /* card image */
    .circular--portrait { 
      position: relative; 
      width: 110px; 
      height: 110px; 
      overflow: hidden; 
      border-radius: 50%; 

      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%)
    } 

    .circular--portrait img { 
      width: 100%; 
      height: auto; 
    }
    /* card image */

    .card .additional .more-info {
      width: 300px;
      float: left;
      position: absolute;
      left: 150px;
      height: 100%;
    }

    .card .additional .more-info h1 {
      color: #fff;
      margin-bottom: 0;
    }


  .card .additional .coords {
    margin: 0 1rem;
    color: #fff;
    font-size: 1rem;
  }
  .card .additional .coords span + span {
    float: right;
  }

  .card .additional .stats {
    font-size: 2rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    top: auto;
    color: #fff;
  }

  .card .additional .stats > div {
    flex: 1;
    text-align: center;
  }

  .card .additional .stats i {
    display: block;
  }

  .card .additional .stats div.title {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .card .additional .stats div.value {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
  }

  .card .additional .stats div.value.infinity {
    font-size: 2.5rem;
  }

  .card .general {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
  }

  .card .general .more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.9em;
  }

/* user card */


/* Project Card */
    /* apply a natural box layout model to all elements, but allowing components to change */
  /* html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
    background: #f2f2f2;
    font-family: Arial, sans-serif;
    color: #000;
    padding: 20px;
  } */
  h3 {
    font-size: 16px;
  }
  /* entire container, keeps perspective */
  .flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    transform: perspective(1000px);
    transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .flip-container, .front, .back {
    width: 270px;
    height: 400px;
  }

  .front, .back {
    background: #ffffff;
    box-shadow: 0 2px 0 rgba(0,0,0,0.1);
    text-align: center;
  }

  .back {
    background: #343434;
    color: #fff;
    padding: 40px 20px;
  }

  span .h3, .back h3 {
    text-transform: uppercase;
  }

  .front h3 {
    font-weight: normal;
    margin-top: 0;
  }

  .front h3:after {
    content: "";
    height: 2px;
    width: 40px;
    display: block;
    background: rgba(0,0,0,0.1);
    margin: 15px auto;
  }

  .block-content {
    padding: 15px 20px 20px 20px;
  }

  .front h2 {
    font-size: 22px;
    font-weight: normal;
    line-height: 28px;
  }

  .tag {
    color: #000;
    background: #f2f2f2;
    display: inline-block;
    font-size: 12px;
    padding: 8px 12px;
    border-radius: 15px;
  }

  .back p {
    margin: 40px 0;
    line-height: 20px;
  }

  .back .button {
    background: transparent;
    border: solid 2px #fff;
    color: #fff;
    text-decoration: none;
    padding: 15px 40px;
    display: block;
    font-size: 20px;
    margin: 0 10px;
    transition: all 200ms ease-in-out;
  }

  .back .button:hover,
  .back .button:focus {
    background: #f16a11;
    border: solid 2px #f16a11;
  }

  /* flip speed goes here */
  .flipper {
    transition: 0.4s;
    transform-style: preserve-3d;

    position: relative;
  }

  /* hide back of pane during swap */
  .front, .back {
    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;

    position: absolute;
    top: 0;
    left: 0;
  }

  /*  UPDATED! front pane, placed above back */
  .front {
    z-index: 2;
    transform: rotateY(0deg);
  }

  /* back, initially hidden pane */
  .back {
    transform: rotateY(-180deg);
  }

  /*  UPDATED! flip the pane when hovered */
    .flip-container:hover .back {
      transform: rotateY(0deg);
    }
    .flip-container:hover .front {
        transform: rotateY(180deg);
    }
/* Project Flip Card  */

/* Modal */
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
/* Modal */